@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@300&display=swap');

:root{
    --dark:#374151;
    --darker:#1F2937;
    --darkest:#111827;
    --grey:#6B7280;
    --light:#EEE;
    --purple: #8B5Cf6;
}
*{
    box-sizing:border-box;
    margin:0;
    font-family:'Fira Sans',sans-serif;
}

body{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background:var(--dark);
    color: #FFF;

}
header{
    padding:2rem 1rem;
    max-width: 800px;
    width:100%;
    margin:0 auto;
}
header h1{
    font-size: 2.5rem;
    font-weight: 3
    color:var(--grey);
    margin-bottom: 1rem;
    font-weight: 700;
    background-image:linear-gradient(to right,var(--red),
    var(--light));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input,button{
    appearance: none;
    border: none;
    outline: none;
    background: none;
}
.studentform-form {
    width: 30%;
}

.studentforms {
    width: 70%;
}

.studentform-table {
    width: 100%;
    border: none;

}

#text{
    flex:1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.0rem;
}
#textarea{
    flex:1 1 0%;
    background-color: var(--darker);
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 1.0rem;
}

.submit-btn{
    background-color: green;
    width: 100px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20px;
}
.submit-btn:hover{
    background-color: rgb(34, 40, 216);
}
.reset-btn{
    background-color: rgb(233, 65, 42);
    width: 100px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 10px;
    padding: 10px;
}
.reset-btn:hover{
    background-color: rgb(131, 20, 6);
}

.margin {
    margin: 8px 0;
    width: 100%;
}

.studentform-name-input {
    height: 25px;
}

.studentform-table-body tr{
    background: #fafafa;
    color: #000;
}
.remove-studentform{
    background-color: red;
    padding: 5px;
    width: 100px;
    border-radius: 5px;
    border: none;
}
.remove-studentform:hover{
    background-color: brown;
    color: #fff;
}
.studentform-table thead{
    padding-top: 15px;
}
.studentform-table thead tr th{
    padding-top: 15px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.studentforms{
   background-color: rgb(226, 236, 236);
   color: black;
   font-size: 20px;
   border-radius: 3px;
   margin-left: 200px;
   padding-left: 30px;
   border: 3px solid rgb(3, 24, 28);
}


  